build
.cache
.DS_Store
.project
.vscode/
CMakeLists.txt.user
cmake-build-debug/
cmake-build-release/
build
.idea/
.venv
compile_commands.json

gittyup.cflags
gittyup.config
gittyup.cxxflags
gittyup.files
gittyup.includes
